[program:storm]
autostart=true
command=/usr/share/storm/bin/storm supervisor
user=0
stdout_logfile=/var/log/supervisor/storm.log
stderr_logfile=/var/log/supervisor/storm.err
numprocs=1
process_name=%(program_name)s-%(process_num)s
startsecs=60
environment=ENVIRONMENT={{ allTags.tags.environment }}

stopsignal=TERM
