/**
 * New Relic agent configuration.
 *
 * See lib/config.defaults.js in the agent distribution for a more complete
 * description of configuration variables and their potential values.
 */

exports.config = {
  /**
   * Array of application names.
   * We have a couple different naming schemes at work:
   *   * For opsworks stacks newrelic_role will contain both the stack and role names. Example: kafka-kafka
   *   * For non-opsworks newrelic_role will be just the role name. Example: conversation
   *   * In production we have two apps for every app: one that is a rollup for all regions and one that is region specific: Example: conversation and conversation (us-east-1)
   *   * In lower environments we have only one app for every app since there is only one region and we suffix it with the environment. Example: conversation (Development)
   */
{% if newrelic_suffix is not none %}
  app_name : ['{{ newrelic_role }} {{ newrelic_suffix }}'],
{% else %}
  app_name : ['{{ newrelic_role }}', '{{ newrelic_role }} ({{ ansible_ec2_placement_region }})'],
{% endif %}

  /**
   * Your New Relic license key.
   */
  license_key : '{{ newrelic_license_key }}',
  logging : {
    /**
     * Level at which to log. 'trace' is most useful to New Relic when diagnosing
     * issues with the agent, 'info' and higher will impose the least overhead on
     * production applications.
     */
    level : 'info'
  },
  rules : {
    ignore : [
      '^/socket.io/.*/xhr-polling'
    ]
  }
};
