{
  "api.version": "v1",
  "sources": [
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/applogstash",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/tomcat7/*logstash.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/ininlogstash",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/inin/*logstash.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/supervisor-log",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/supervisor/*.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/supervisor-err",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/supervisor/*.err",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/secure",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/secure/*",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/catalina-out",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/tomcat7/catalina.out",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/jetty",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/jetty/stderrout.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/kafka",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/kafka/*.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/zookeeper-log",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/zookeeper/zookeeper.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/zookeeper-out",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/zookeeper/zookeeper.out",
      "timeZone": "UTC"
    },
    {
      "name": "{{ ansible_ec2_placement_region }}/{{ allTags.tags.environment | default('dev') }}/{{ allTags.tags.role }}/{{ ansible_ec2_instance_id }}/mongo",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/mongo/*.log",
      "timeZone": "UTC"
    }
  ]
}
