{
  "api.version": "v1",
  "sources": [
{% if sumo_sources_all or sumo_sources_tomcat %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/applogstash",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/tomcat7/*logstash.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/catalina-out",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/tomcat7/catalina.out",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_inin %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/ininlogstash",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/inin/*.log",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_supervisor %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/supervisor-log",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/supervisor/*.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/supervisor-err",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/supervisor/*.err",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_jetty %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/jetty",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/jetty/stderrout.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/jetty-logstash",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/jetty/*logstash.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/jetty-stderrout",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/jetty/*stderrout.log",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_kafka %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/kafka",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/kafka/*.log",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_zookeeper %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/zookeeper-log",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/zookeeper/zookeeper.log",
      "timeZone": "UTC"
    },
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/zookeeper-out",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": true,
      "pathExpression": "/var/log/zookeeper/zookeeper.out",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_mongo %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/mongo",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/mongo/*.log",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_nginx %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/nginx",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/nginx/*.log",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_haproxy %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/haproxy",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/haproxy",
      "timeZone": "UTC"
    },
{% endif %}
{% if sumo_sources_all or sumo_sources_es %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/elasticsearch",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/elasticsearch/*.log",
      "timeZone": "UTC"
    },
{% endif %}
    {
      "name": "{{ allTags.tags.role }}/{{ allTags.tags.environment | default('dev') }}/{{ ansible_ec2_instance_id }}/secure",
      "category" : "{{ allTags.tags.role }}-{{ allTags.tags.environment | default('dev') }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/secure",
      "timeZone": "UTC"
    }
  ]
}
