[program:spot-termination-notifier]
autostart=true
command=/opt/spot-termination-notifier.sh
user=ec2-user
stdout_logfile=/var/log/supervisor/spot-termination-notifier.log
stderr_logfile=/var/log/supervisor/spot-termination-notifier.err
numprocs=1
process_name=%(program_name)s-%(process_num)s
startsecs=60

stopsignal=TERM
