{
  "api.version": "v1",
  "sources": [
    {
      "name": "{{ allTags.tags.role }}",
      "sourceType": "LocalFile",
      "multilineProcessingEnabled": false,
      "pathExpression": "/var/log/*.log"
    }
  ]
}
