#!/usr/bin/env ruby

require 'jumpcloud'
require 'logger'

log = Logger.new('/opt/jc/registration.log')


begin
  retries ||= 5
  sleep(45)
  jc = JumpCloud.new()
  jc.update_settings({
	"allowSshPasswordAuthentication" => true,
	"allowPublicKeyAuthentication" => true,
	"allowSshRootLogin" => false,
	"tags" => ["{{ allTags.tags.environment }}"]
  })
  data = JumpCloud.get_system_data()

  while data["tags"].length < 1 do
    raise 'No tags applied'
  end

  while data["allowSshPasswordAuthentication"] != true do
    raise 'SSH login is not enabled'
  end

  File.open('/var/lock/subsys/jumpcloud', 'w') do |f|
    f.write(data)
  end
rescue => err
  retries -= 1
  log.debug(retries)
  log.debug(err)
  retry unless retries.zero?
  log.debug("Exiting with exit code 1")
  exit 1
end
